
<h1 class="text-center mb-4"><%= @place["name"] %></h1>

<a class="btn btn-outline-primary mt-4 mb-4" href="/entries/new?place_id=<%= @place["id"] %>">New Entry</a>

<div class="row">
  
  <% for entry in @entries %>
    <div class="col-12 col-sm-4">
      <% if entry.user_id == @current_user.id %>
        <h4><%= entry["title"] %></h4>
        <img src="<%= entry.image %>" class="img-fluid">
        
          <h5><%= entry["occurred_on"] %></h5>
        
        
          <p><%= entry["description"] %></p>
        
        
      <% end %>
    </div>
  <% end %>
</div>

<p>
  <a href="/entries/new?place_id=<%= @place["id"] %>">New Entry</a>
</p>

<p>
  <a href="/places">Back to All Places</a>
</p>

    
  
