
<h1 class="text-center mb-4"><%= @place["name"] %></h1>

<a class="btn btn-outline-primary mt-4 mb-4" href="/entries/new?place_id=<%= @place["id"] %>">New Entry</a>

<div class="row">
  
  <% for entry in @entries %>
    <div class="col-12 col-sm-6 col-md-4">
      <% if entry.user_id == @current_user.id %>
        <h4><%= entry["title"] %></h4>
        <% if entry.uploaded_image.attached? %>
          <img src="<%= url_for(entry.uploaded_image) %>" class="img-fluid">
        <% else %>
          <img src="<%= entry.image %>" class="img-fluid">
        <% end %>

        
          <h5><%= entry["occurred_on"] %></h5>
        
        
          <p><%= entry["description"] %></p>
        
        
      <% end %>
    </div>
  <% end %>
</div>



    
  
